.loginFormContainer {
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: grid;
  gap: 20px;
  align-content: center;
}

.loginForm {
  display: grid;
  gap: 20px;
}

.loginFormTitle {
  text-align: center;
}

.loginError {
  width: 100%;
}

.loginFormButton {
  width: 100%;
}
