.login-form {
  max-width: 400px;
  margin: 200px auto 0 auto;
  padding: 0 10px;
  text-align: center;
  display: grid;
  gap: 20px;
}

.login-error {
  max-width: 400px;
  margin: 0 auto;
}

.login-form-button {
  width: 100%;
}
