.contactsContainer {
  padding: 50px 10px 50px 10px;
  max-width: 500px;
  margin: 0 auto;
}

.contactsError {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media (max-width: 450px) {
  .contactsError {
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
}
