.SignUpContainer {
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: grid;
  gap: 20px;
  align-content: center;
}

.SignUpTitle {
  text-align: center;
}

.SignUpError {
  margin-top: 20px;
  width: 100%;
}

.SignUpButton {
  width: 100%;
}
